<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.summer.mapper.ArticleMapper">

    <select id="carbonInfo" resultType="com.summer.model.vo.CarbonInfoVO">
        select
            id, bannerUrl, createTime, title,source,description
        from
            article
        where
    </select>

    <select id="carbonInfoDetail" resultType="com.summer.model.vo.CarbonInfoVO">
        select
            id, title, bannerUrl, createTime
        from
            article
        where
            id=#{id}
    </select>

</mapper>